# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# VS/Rider
.vs/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj

# APK files
*.apk
*.aab

# Burst
*_BurstDebugInformation_DoNotShip/